{% extends 'base_s.html' %}

{% load static %}

{% block content %}

{% static "images" as baseUrl %}

<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Categories</h2>
					<ul class="cate">
						{% for d in cat %}

						<li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{d.catname}}</a></li>
						{% endfor %}	
					</ul>
				</div>																																												
			</div>
			<div class="col-md-8 products-right">
				{% for d in item %}

					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<img title=" " alt=" " src="{{baseUrl}}/{{d.photo}}">		
											

												<p>{{d.itemname}}</p>
												<h4>{{d.itemcost}} Rs/- </h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													
														<input type="submit" name="submit" value="Add to cart" class="button">

												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
						<div class="clearfix"> </div>
				</div>
				
			</div>


			<div class="clearfix"> </div>
		</div>		</div>
	</div>
{% endblock %}